# Ignore all .log files
*.log

# Ignore the 'node_modules' directory
node_modules/

# Ignore temporary files created by the operating system
.DS_Store
Thumbs.db

# Ignore build artifacts
build/
dist/

# Ignore sensitive configuration files
config.ini
.env